Demo/.amlignore
Demo/.amlignore.amltmp
solutions/AzureOpenAIUtil/
.amlignore
.amlignore.amltmp
.env
quick_start/data/Hacktahon_Data.csv
quick_start/.ipynb_checkpoints/07_best_practice-checkpoint.ipynb
